.helper-container {
  position:fixed;
  width:60px;
  height:60px;
  top:20px;
  right:20px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  cursor: pointer;
  z-index: 2000;
  display: inline;
}

.helper-icon{
  margin-top:18px;
}

.helper-text{
  position: absolute;
  opacity: 0;
  display: none;
  width: 80%;
  z-index: 1000;
}
