
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// Import stylesheets
@import './barchart.scss';
@import './main-tree.scss';
@import './controls.scss';

html { height: 100%; }
body {
  min-height: 100%;
  position: relative;
}

.full-screen {
  display: flex;
  flex-wrap: wrap;

  .main {
    flex: 0 0 100vh;
    height: 100vh;
  }

  .sidebar {
    flex: 0 0 calc(100vw - 100vh);
    height: 100vh;
  }

  .quadrant {
    height: 33.3333vh;
    width: 100%;
  }
}