svg.tree {
  width: 100%;
  height: 80%;

  .treelayer {
    transform: translate(50%, 50%);

    .node circle {
      pointer-events: none;

      &.M {
        fill: url('#Mgradient');
        // fill: radial-gradient(circle at 100px 100px, lightblue, #000);
      }

      &.F {
        // fill: radial-gradient(circle at 100px 100px, pink, #000);
        fill: url('#Fgradient');
      }

      &.U {
        // fill: radial-gradient(circle at 100px 100px, black, #000);
        fill: url('#Ugradient');
      }
    }

    .node-internal circle {
      opacity: 0.4;
    }

    .node-leaf circle {
      opacity: 0.3;
    }

    .link {
      fill: none;
      stroke: #999;
      stroke-opacity: 0.1;
      stroke-width: 1.5px;
      pointer-events: none;
    }
  }

  .hulllayer {
    transform: translate(50%, 50%);
    .hull {
      transition: linear 200ms all;
      fill-opacity: 0.2;

      &.hover {
        fill-opacity: 0.7;
      }
    }
  }

  .uilayer .legend {
    transition: linear 200ms all;

    &.hover {
      font-weight: 600;
    }

    &.right {
      text-anchor: end;
    }
  }
}