<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Our awesome D3.js project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <% for(var i=0; i < htmlWebpackPlugin.files.css; i++) { %>
      <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
    <% } %>

    <style>
      /* stylesheet are downloaded asynchronously, so we should hide all
         helper elements when browser starts rendering */
      .helper-text {
        display: none;
      }

      .helper-container {
        display: none;
      }
    </style>
</head>

<body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <a class="helper-container">
      <i class="helper-icon fa fa-2x fa-question"></i>
    </a>

    <div class="full-screen">
      <div class="main">
        <div class="helper-text panel panel-primary"
            style="top: 300px; left:10%;">
          <div class="panel-heading">Tree Graph</div>
          <div class="panel-body">A tree graph is useful to represent hierarchical relationship.
          In order to maximally use the space, we choose a circula tree model.
          By doing this, the visualization is symmetric and the hierarchical
          relationship can be easily recognized by identifying different
          rings.
          </div>
        </div>
        <svg class="tree component">
          <defs>
            <radialGradient id="Mgradient" cx="25%" cy="25%" r="50%" fx="50%" fy="50%">
              <stop offset="10%" stop-color="lightblue" />
              <stop offset="95%" stop-color="blue" />
            </radialGradient>
            <radialGradient id="Fgradient" cx="25%" cy="25%" r="50%" fx="50%" fy="50%">
              <stop offset="10%" stop-color="pink" />
              <stop offset="95%" stop-color="red" />
            </radialGradient>
            <radialGradient id="Ugradient" cx="25%" cy="25%" r="50%" fx="50%" fy="50%">
              <stop offset="10%" stop-color="lightgrey" />
              <stop offset="95%" stop-color="grey" />
            </radialGradient>
          </defs>
        </svg>

        <div class="controls" style="position: relative;">
          <div class="helper-text panel panel-primary"
              style="top: 10px; left:10%;">
            <div class="panel-heading">Filter</div>
            <div class="panel-body">Here you can set different filters for
              Function Areas, Location and Business Units.
            </div>
          </div>
          <div class="container groupBy component">
          </div>
          <div class="container groupByLevel component">
          </div>
          <div class="container metric">
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="quadrant">
          <div class="helper-text panel panel-primary"
              style="top: 35px; left:10%;">
            <div class="panel-heading">Female salary v.s. male salary</div>
            <div class="panel-body"> By making two boxes per hay grade, we can
               show the difference between male relative position salary and
               female relative position salary in an intuitive way.
               We choose to use scroll button instead of set a list filter
                because it retains the ability for comparing between hay grades.
            </div>
          </div>
          <svg class="line-chart component" id="sg-fmsbox"></svg>
        </div>
        <div class="quadrant">
          <div class="helper-text panel panel-primary"
              style="top: 35px; left:10%;">
            <div class="panel-heading">Gender breakdown of job titles</div>
            <div class="panel-body">The user can see the job distribution among
               males and females at the first glance. The user also can
               investigate which jobs are more welcomed among women.
            </div>
          </div>
          <svg class="bar-chart component" id="sg-gbjt"></svg>
        </div>
        <div class="quadrant">
          <div class="helper-text panel panel-primary"
              style="top: 35px; left:10%;">
            <div class="panel-heading">Percentage of female employees over time</div>
            <div class="panel-body">Linechart is commonly used to represent the
              trend of changes. The user can see how the percentage of female
               employees changes over time in the whole company or in a specified
               department.
            </div>
          </div>
          <svg class="bar-chart component" id="sg-pft"></svg>
        </div>
      </div>
    </div>

    <% for(var i=0; i < htmlWebpackPlugin.files.chunks; i++) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[i].entry %>" defer></script>
    <% } %>
</body>

</html>
