<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Our awesome D3.js project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <% for(var i=0; i < htmlWebpackPlugin.files.css; i++) { %>
        <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
        <% } %>
</head>

<body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="full-screen">
      <div class="main">
        <svg class="tree">
          <defs>
            <radialGradient id="Mgradient" cx="25%" cy="25%" r="50%" fx="50%" fy="50%">
              <stop offset="10%" stop-color="lightblue" />
              <stop offset="95%" stop-color="blue" />
            </radialGradient>
            <radialGradient id="Fgradient" cx="25%" cy="25%" r="50%" fx="50%" fy="50%">
              <stop offset="10%" stop-color="pink" />
              <stop offset="95%" stop-color="red" />
            </radialGradient>
            <radialGradient id="Ugradient" cx="25%" cy="25%" r="50%" fx="50%" fy="50%">
              <stop offset="10%" stop-color="lightgrey" />
              <stop offset="95%" stop-color="grey" />
            </radialGradient>
          </defs>
        </svg>
        <div class="controls">
          <div class="container groupBy">
          </div>
          <div class="container groupByLevel">
          </div>
          <div class="container metric">
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="quadrant">
          <svg class="line-chart"></svg>
        </div>
        <div class="quadrant">
          <svg class="bar-chart"></svg>
        </div>
        <div class="quadrant">
          <svg class="bar-chart"></svg>
        </div>
      </div>
    </div>

    <% for(var i=0; i < htmlWebpackPlugin.files.chunks; i++) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[i].entry %>" defer></script>
      <% } %>
</body>

</html>